/* Выставляем отступы сверху и снизу, чтоб смотрелось посимпатичнее */
#rightpanel {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Перекрашиваем элементы */
select, input {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
    padding: 4px;
    width: 90% !important;
}

input {
    border: 1px solid #FF9800;
    background-color: #FF9800;
    color: white;
    font-size: 0.9em;
    padding-left: 8px;
    padding-right: 8px;
}

/* Вот тут блочим выбор типа расписания */
#type_z{
    pointer-events:none;
    color: #919191;
    background-color: #ebebeb;
}

/* Скрываем кнопочки и текст снизу */
#rightpanel form p {
    display: none;
}

#blok_zach {
    display: none !important;
    visibility: collapse;
}

/* Через H1 выводится предупреждение "инфа может быть неактуальна" Блочим и его */
h1 {
    display: none;
}
